<div class="project-edit">
    <div class="card-title-block d-flex">
        <div class="title items">
            <h3>View Project</h3>
        </div>
        <div class="text-right items">
            <button md-raised-button type="submit" class="btn-back btn-green" (click)="gotoProjects()"> <i class="material-icons">arrow_back</i>Back</button>
        </div>

    </div>
    <div *ngIf="project">


        <div class="form-group">
            <label>Name:</label>

            {{project.Name}}
        </div>

       <div class="form-group">


            <label>
                IsActive:
            </label>

            <md-checkbox type="checkbox" id="chckbox" name="IsActive" [(ngModel)]="project.IsActive" disabled="true"></md-checkbox>

        </div>


        <div class="half-width">

            <label>Team Leader:</label>



        </div>

        <div class="half-width">
            <table>
                <tr>
                    <td>{{teamLeaderFirstName}}-{{teamLeaderEmail}}</td>
                </tr>
            </table>

        </div>

        <div>
            <br />
        </div>

        <div class="half-width">

            <label>List Of Team Members:</label>
        </div>
        <div>
            <br />
        </div>
        <div class="half-width">
            <table>
                <tr *ngFor="let teamMember of project.ApplicationUsers">
                    <td>{{teamMember.UniqueName}}</td>
                </tr>
            </table>
        </div>



    </div>

</div>




