<center>
    <h3>Project Details</h3>
    <br />
    <div *ngIf="pro">
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    {{pro.name}}
                </td>
            </tr>
            <tr>
                <td>
                    Slack Channel Name:
                </td>
                <td>
                    {{pro.slackChannelName}}
                </td>
            </tr>
            <tr>

                <td>
                    IsActive:
                </td>
                <td>
                    <input type="checkbox" name="IsActive" [(ngModel)]="pro.isActive" disabled>
                </td>
            </tr>
            <tr>
                <td>
                    TeamLeader:
                </td>
                <td>
                    <select name="sel3" [(ngModel)]="pro.teamLeaderId" disabled>
                        <option value={{i.Id}} *ngFor="let i of pro.listUsers">{{i.FirstName}}-{{i.Email}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    List Of Users:
                </td>
                <td>
                    <select multiple disabled>
                        <option *ngFor="let ul of pro.applicationUsers">{{ul.FirstName}}-{{ul.Email}}</option>
                    </select>
                </td>
            </tr>
        </table>
        <p>
            <button (click)="gotoProjects()">Back</button>
        </p>
    </div>
</center>




