body{padding:0;margin:0;font-family:roboto-regular}



@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

.oauth-icon{font-size: 22px;color: #4bcf99;cursor: pointer;margin-right:10px;}
.icon-paper-plane{font-size:21px;}
.m-0{margin:0;}
.mr-5{margin-right:5px !important;}
.mt-15{margin-top:15px;}
.mr-25{margin-right:25px;}
.ml-15{margin-left:15px;}
.mtb-30{margin:30px 0 !important;}
ul{margin:0;padding:0;}
.p-25{padding:25px;}
.clearfix{clear:both;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.align-left{float:left;display:inline-block}
.error{color:rgb(221,44,0);font-size: 13px;line-height: 14px;overflow: hidden;-webkit-transition: all .3s cubic-bezier(.55,0,.55,.2);transition: all .3s cubic-bezier(.55,0,.55,.2);opacity: 1;margin-top: 0;margin-bottom:2px;}
.in_block{display:inline-block;}
.btn-green{background-color:#4bcf99  !important;color:#fff !important;}
.auth {position: absolute;width: 100%;height: 100%;left: 0;background-color: #667380;overflow-x: hidden;overflow-y: auto;}
.auth-container {width: 450px;min-height: 330px;position: absolute;top: 50%;left: 50%;-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
.auth-container .auth-content {padding: 30px 60px;min-height: 260px;text-align:center}
.auth-container .auth-header {text-align: center;border-bottom: 1px solid #ddd ;}
.auth-container .auth-title {color: #97A4B1;padding: 20px;line-height: 30px;font-size: 26px;font-weight: 300;margin: 0;}
.card {background-color: #fff;box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);margin-bottom: 10px;border-radius: 0;border:none;}
.custom-btn{min-width: 83px !important;line-height: 33px !important;}
.form-group{margin-bottom:15px;}
.login-form .form-group{margin-bottom:22px;}
.login-form input{width:260px;border:none;font-size: 16px;line-height: 1.7;color: #55595c;border-bottom:0.5px solid rgba(0, 0, 0, 0.38);padding: 5px;}
.login-form input:focus{ outline:none; }
.login-form .btn {padding: 10px 12px;font-size:20px;font-family: roboto-regular;border-radius:2px;width:275px;color: #ffffff;background-color: #4bcf99 ;border-color: #4bcf99 ;outline:none;    margin-top: 15px;border-style: none;cursor: pointer;     box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);transform: translate3d(0, 0, 0);}
.login-form .error-invalid{color:rgb(221,44,0);font-size:16px;margin-top:0;}
.login-form .form-group span.error{display:block;color:rgb(221,44,0);text-align:left;font-size:14px;padding: 4px 0px 3px 5px;position:absolute;}
.login-form .link{color:#969696;text-decoration:none;}
.login-form .link:hover{color:#33be85}
.rp-content{padding:25px 30px;}
.fp-content .text-success{    text-align: left;margin-left: 35px;display: block;font-size: 14px; margin: 15px 0px 0px 0px;color: #4bcf99;letter-spacing: 0.15px;}
.fp-content .text-danger,.rp-content .text-danger {margin-left: 35px;color: rgb(221,44,0);margin-top: 2px;display: block; text-align:left}

/*#fp-container{width:495px;}*/
.fp-content{padding:15px 30px;}
.fp-text{margin-top: 0;color: #333;font-family: roboto-medium;margin-bottom: 37px;}
.logout-link{padding: 20px 15px; float: right;width: 100%;}
.logout-link a{color: #4f5f6f;text-decoration: none;font-size: 17px;}
/*.main-wrapper{background-color: #f0f3f6;box-shadow: 0 0 3px #ccc;}*/
.card{background-color: #fff;margin:25px;}
md-toolbar{background:#ebebeb !important;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);}
.align-content{display:flex;padding:0;}
.align-content md-toolbar-row{display:flex;justify-content:space-between;}
/*.md-sidenav-backdrop{visibility:hidden !important;}*/
.fl-right{float:right;}
md-sidenav {max-width: 230px !important;background-color:#3a4651 !important;}
md-sidenav  .brand {color: #fff;text-align: left;padding: 22px 14px;margin-bottom:-1px;font-size: 16px;box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);background: #3a4651;width: 202px;text-align: left;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);}
md-sidenav  .brand span{padding-left:11px;}
#menu-button {margin: 0;background: transparent;border: 0;cursor: pointer;display:none;}
#menu-button i.material-icons{font-size:25px;;}
md-sidenav {width: 230px;}
md-sidenav ul{padding-left: 0;margin-bottom: 0;list-style: none;margin-top:0;}
md-sidenav .nav > li > a i {margin-right: 5px;font-size: 16px;}
md-sidenav ul li a i.side-nav-icons{vertical-align: text-top;font-size: 16px;margin-right: 13px;display: inline-block;margin-top: 1px;}
md-sidenav ul li a i.icon-social-buffer{font-size: 18px;}
md-sidenav li a {font-size:16px; padding:15px 10px 15px 20px;  color: rgba(255, 255, 255, 0.5);text-decoration: none;display: block;}
md-sidenav li a:hover{    color: #ffffff;background-color: #2d363f;}
md-sidenav li a.active {background-color: #4bcf99  !important;color: #ffffff !important;}
md-sidenav ul li a i {font-size: 14px;margin-right: 5px;vertical-align:text-top}

.md-sidenav-backdrop {visibility:hidden !important;}
table{width: 100%;max-width: 100%;border-collapse: collapse;border-spacing: 0;width: 100%;}
.table-bordered{border:1px solid #ddd;}
.table-bordered > thead > tr > th {border: 1px solid #ddd;padding: 8px;line-height: 1.42857143;text-align:left;color: #4f5f6f;word-wrap: break-word;white-space: normal;}
/*.table-bordered >tbody>tr>td{padding: 8px;line-height: 1.42857143;vertical-align: middle;border: 1px solid #ddd;}*/
.table-bordered >tbody>tr>td{padding: 8px;line-height: 1.42857143;vertical-align: middle;border: 1px solid #ddd;word-wrap: break-word;width: 5%;}
.content-menu{background-color:#f0f3f6;}
.table-bordered.table-user td:last-child{width:10%;}
.table-bordered.table-user .md2-select{padding: 5px 10px;vertical-align: bottom;}


 md-input{font-size:16px;}
.md-input-placeholder.md-float.md-focused  , .md2-option.md2-selected ,.md2-select:focus:not(.md2-select-disabled) .md2-select-trigger{color: #4bcf99 !important;}
.md-input-underline .md-input-ripple { background-color:#4bcf99 !important}
.user-list .card-title-block , .user-list .title{width:100%;}
.user-list .card-title-block button{font-size:17px;}
/*.user-list .wd-name{width:9%;}*/
.card-title-block{padding-bottom: 0;margin-bottom: 25px;padding: 15px 0px;border-bottom:1px solid #d7dde4}
.card-title-block h3{font-size:21px !important;color: #4f5f6f;margin:0;}

.user-details p{margin:0;}
.user-details label{font-family:roboto-medium;display:inline-block;width: 100px;text-align: right;margin-right: 10px;font-size: 16px;color: #4f5f6f;}
.user-edit .form-group label , .project-edit .form-group label , .project-add .form-group .lb-label{color: #4f5f6f;margin-right:4px;font-family:roboto-medium;}
.user-edit .lb-label , .project-edit .lb-label{font-size:16px;}
.user-edit .btn-green{text-transform:uppercase;font-family:roboto-medium}
.btn-back{font-size:17px;padding:1px 8px;  line-height:34px !important;}
i.material-icons{vertical-align: middle;margin-right: 3px;margin-top: -3px;font-size: 19px;}
.md-checkbox-checked .md-checkbox-background {background-color: #4bcf99 !important;}
.md-checkbox-focused .md-ink-ripple {background-color: rgba(75,207,153,0.26) !important;}
md-checkbox{position:relative;top:2px;}
#chckbox .md-checkbox-inner-container{margin:0 auto;}
.consumer-app{overflow:hidden;}
.consumer-app .card-title-block , .user-list .card-title-block ,.project-add .card-title-block,.user-add .card-title-block,   .project-list .card-title-block , .project-edit .card-title-block , .user-edit .card-title-block , .consumer-add .card-title-block , .consumer-edit .card-title-block,.user-details .card-title-block{display: flex;align-items: flex-end;}
.consumer-app .card-title-block .btn-green{font-size:17px;padding: 1px 8px;}
.consumer-app .items, .user-list .items , .project-list .items , .project-edit .items , .project-add .items , .user-add .items , .emp-details .items , .user-edit .items , .consumer-add .items , .consumer-edit .items,.user-details .items{ flex-grow:1;}
.consumer-app .fl-right{text-align:right}
.consumer-app li{background-color: #f0f3f6;box-shadow: 0 0 3px #ccc;padding: 15px;text-transform: capitalize;display: inline-block; cursor: pointer;min-width: 284px;margin:0px 20px 20px 0px;list-style-type:none}
.consumer-app .list-left{float:left;}
.consumer-edit .form-group , .consumer-add .form-group , .change-password .form-group, .user-edit .form-group , .project-edit .form-group , .project-add .form-group{margin:20px 0;}
.consumer-edit  button , .consumer-add button , .form-group button{text-transform:uppercase;font-family:roboto-medium;} 
.consumer-edit button:hover , .change-password button:hover{    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);} 
.consumer-edit #group-btn > button , .consumer-add #group-btn > button,.change-password #group-btn > button  {margin-right:15px;}
.consumer-add .full-width{width:97%;}
.consumer-add md2-multiselect{margin:10px 0;}
.consumer-add .form-group .half-width .btn-reg{margin-top:13px;}
.d-flex{display:flex;flex-direction:row;}
.full-width{width:100%;}
.half-width{width:50%;}

/*.project-list table td{width:18%;}
.project-list table td:last-child {width:22%;}*/
/*.table-user  td:last-child{width:15%;}*/


md-select + .lb-label1 {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;-webkit-box-ordinal-group: 2;-webkit-order: 1;order: 1;pointer-events: none;-webkit-font-smoothing: antialiased;padding-left: 3px;padding-right: 0;z-index: 1;-webkit-transform: translate3d(0,28px,0) scale(1);transform: translate3d(0,28px,0) scale(1);
-webkit-transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);transition: transform .4s cubic-bezier(.25,.8,.25,1);transition: transform .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);max-width: 100%;-webkit-transform-origin: left top;transform-origin: left;position: absolute;bottom:100%;left: 0;right: auto;color: rgba(0, 0, 0, 0.38);}
md-select:focus + .lb-label1 {opacity:1;-webkit-transform: translateY(-100%) scale(0.75);transform: translateY(-0%) scale(0.75);color:#4bcf99;}
md-select, md-multiselect{padding:10px 0;}
md2-pagination .md2-pagination li{color:#3a4651}
md2-pagination .md2-pagination li.active , .md2-datepicker-header{background:rgb(75, 207, 153) !important}
md2-option.md2-option-selected , md2-select:focus .md2-select-placeholder , md2-multiselect:focus .md2-multiselect-placeholder  ,   md2-option.md2-option-selected ,md2-multiselect .md2-multiselect-menu .md2-option.active ,md2-multiselect .md2-multiselect-menu .md2-option.active ,.md2-datepicker-actions .md2-button ,.md2-calendar-day.today{color:rgb(75, 207, 153) !important}
md2-multiselect .md2-option.active .md2-option-icon{border-color: rgb(75, 207, 153) !important}
md2-select:focus .md2-select-container ,md2-multiselect:focus .md2-multiselect-container{border-bottom:2px solid rgb(75, 207, 153) !important}
.md2-select:focus:not(.md2-select-disabled) .md2-select-underline {background-color:#4bcf99 !important}
.md-input-underline {border-top: 1px solid rgba(0, 0, 0, 0.12) !important;}
.md-input-underline.md-disabled{border-top:0px  !important;}
.mat-input-placeholder-wrapper{overflow:initial !important}
.mat-input-underline {color:rgba(0,0,0,.12)}
.mat-input-placeholder.mat-empty{color:rgba(0,0,0,.38)}
.mat-input-placeholder.mat-float.mat-focused{color:#4bcf99 ;}
.mat-input-placeholder.mat-float:not(.mat-empty){color:rgba(0,0,0,.38)}
.mat-input-wrapper{margin-bottom:2px !important;}
.md2-datepicker-input.md2-datepicker-input-focused{color: #4bcf99 !important;border-color: #4bcf99 !important;}
md2-datepicker.ng-invalid.ng-touched:not(.md2-datepicker-disabled) .md2-datepicker-input{color:rgba(0,0,0,.38) !important;  border-color:rgba(0,0,0,.38) !important;}
md2-datepicker.ng-invalid.ng-touched:not(.md2-datepicker-disabled) .md2-datepicker-arrow{color:rgba(0,0,0,.38) !important}
.mat-checkbox-checked .mat-checkbox-background ,.md2-calendar-day.selected, .md2-calendar-day.selected:hover{background-color:#4bcf99 !important}
.mat-checkbox-input.cdk-visually-hidden{-webkit-appearance:none;}
.mat-checkbox-frame{color:rgba(0,0,0,.38) !important}



.loader {display: inline-block;font-size: 4.5rem; /* Change this to resize the loader */animation: 2s rotate infinite linear;width: 1em;height: 1em;position: absolute;top: 40%;left: 50%;margin: -50px 0px 0px -50px;}
.loader circle {fill: transparent;stroke: #4bcf99;stroke-width: 0.1em;stroke-linecap: round;stroke-dasharray: 2.3525em 0.4705em;animation: 1.5s strokeDashArray infinite linear, 24s colorBounce infinite linear;}
.overlay{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,0.5);}

.user-add .md2-calendar-month{margin:0px !important;}
.user-add .form-group{margin-bottom:20px;}
.user-add .md2-select , .user-edit .md2-select , .project-add .md2-select , .project-edit .md2-select , .consumer-edit .md2-select{ width:100%;margin-top:1em;}
.user-add md2-datepicker{width:100%;}
.user-add .md2-datepicker-button{padding-left: 0 !important;padding-right:0 !important;}
.user-add .md2-datepicker-trigger{padding:18px 0 4px 37px}

.app-container {width:80%; margin:0 auto}
.app-container h1{color: #4f5f6f;font-size: 28px;}
.app-container h1 span{text-transform:capitalize;}
.app-container h4.app-title{border-bottom: 1px solid #ddd;padding: 8px 0;} 
.app-container label strong{color:#333;font-weight:normal}
 md-toolbar.app-toolbar {display: flex;box-sizing: border-box;width: 100%;min-height: 64px;font-size: 20px;font-weight: 400;font-family: Roboto, "Helvetica Neue", sans-serif;padding: 0 16px;flex-direction: column;background: whitesmoke;color: rgba(0, 0, 0, 0.87);}
.app-container ul li{list-style-type:none;}
.desc-style{font-style:italic;}
.list-group-item label{font-size:15px;}
.app-container .confirm-btn{width:136px;margin-right: 20px;padding: 8px 12px;font-size: 15px;font-family: roboto-regular;border-radius: 2px;color: #ffffff;background-color: #4bcf99;border-color: #4bcf99;outline: none;margin-top: 15px;border-style: none;cursor: pointer;box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);transform: translate3d(0, 0, 0);}
.app-container .cancel-btn{padding: 8px 12px;font-size: 15px;font-family: roboto-regular;border-radius: 2px;color: rgb(33,33,33);background-color: rgb(250,250,250);border-color: #4bcf99;outline: none;margin-top: 15px;border-style: none;cursor: pointer;box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);transform: translate3d(0, 0, 0);}


.reset-body{height: 100%;background-color: #667380;}
.reset-container{text-align:center;}
.reset-container .reset-content{background-color:#F7F7F7; margin: 70px auto;width: 50%;padding: 32px 20px;border-radius:4px;}
.reset-container .reset-content h1{margin-top:0;font-size:29px;}
.reset-container .reset-content a{color: #4bcf99;text-decoration: none;}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes strokeDashArray {
  from {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  10% {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: 0;
  }
  
  50% {
    stroke-dasharray: 0.001em 2.825em;
    stroke-dashoffset: -2.826em;
  }
  
  60% {
    stroke-dasharray: 0.001em 2.825em;
  }
  
  to {
    stroke-dasharray: 2.3525em 0.4705em;
    stroke-dashoffset: -2.826em;
  }
}

@keyframes colorBounce {
  1% {
    stroke: #4bcf99;
  }
  
  24% {
    stroke: #4bcf99;
  }
  
  26% {
    stroke: #4bcf99;
  }
  
  49% {
    stroke: #4bcf99;
  }
  
  51% {
    stroke: #4bcf99;
  }
  
  74% {
    stroke: #4bcf99;
  }
  
  76%{
    stroke: #4bcf99;
  }
  
  99% {
    stroke: #4bcf99;
  }
}



@media only screen and (max-width:768px){
    #menu-button{display:inline-block;visibility:visible;}
    .sm-side-menu{display:none;}
    .table-sm{overflow-x:auto;width:100%;overflow-y:hidden; border: 1px solid #ddd}
    .half-width{width:100%;}
}
@media only screen and (min-width:992px){

    .hidden-lg{display:none;visibility:hidden;}
}

