body{padding:0;margin:0;font-family: sans-serif;}
.mr-5{margin-right:5px !important;}
.in_block{display:inline-block;}
.btn-green{background-color:#1ab394 !important;color:#fff !important;}
.auth {position: absolute;width: 100%;height: 100%;left: 0;background-color: #667380;overflow-x: hidden;overflow-y: auto;}
.auth-container {width: 450px;min-height: 330px;position: absolute;top: 50%;left: 50%;-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
.auth-container .auth-content {padding: 30px 50px;min-height: 260px;text-align:center}
.auth-container .auth-header {text-align: center;border-bottom: 1px solid #1ab394;}
.auth-container .auth-title {color: #97A4B1;padding: 20px;line-height: 30px;font-size: 26px;font-weight: 600;margin: 0;}
.card {background-color: #fff;box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);margin-bottom: 10px;border-radius: 0;border:none;}
.custom-btn{min-width: 83px !important;line-height: 33px !important;}
.form-group{margin-bottom:15px;}
.login-form input{font-size:18px;padding:10px 10px 5px 5px;width:300px;border:none;border-bottom:1px solid #757575;}
.login-form input:focus{ outline:none; }
.login-form .btn {padding: 10px 12px;font-size:20px;border-radius:2px;width:300px;color: #ffffff;background-color: #1ab394;border-color: #1ab394;outline:none;    margin-top: 15px;border-style: none;cursor: pointer;    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);}
.login-form .form-group span.error{display:block;color:#FF4444;text-align:left;}
.login-form .link{color:#969696;text-decoration:none;}
.login-form .link:hover{color:#33be85}
.logout-link{width:100%;}
.logout-link a{color:#fff;text-decoration:none;font-size:15px;}
.main-wrapper{background-color: #f0f3f6;box-shadow: 0 0 3px #ccc;}
.card{background-color: #fff;margin:25px;padding:15px;}
md-toolbar.md-primary {background: #1ab394 !important;color: white;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);}
.fl-right{float:right;}
md-sidenav {max-width: 230px !important;background-color:#3a4651 !important;}
md-sidenav ul{padding-left: 0;margin-bottom: 0;list-style: none;margin-top:0;}
md-sidenav .nav > li > a i {margin-right: 5px;font-size: 16px;}
md-sidenav li a {padding-top: 15px;padding-bottom: 15px;padding-left: 20px;padding-right: 10px;color: rgba(255, 255, 255, 0.5);text-decoration: none;display: block;}
md-sidenav li a:hover{    color: #ffffff;background-color: #2d363f;}
md-sidenav li a.active {background-color: #1ab394 !important;color: #ffffff !important;}


table{width:100%;max-width:100%;border-collapse: collapse;border-spacing: 0;width: 100%;display: table;}
.table-bordered{border:1px solid #ddd;}
.table-bordered > thead > tr > th {border: 1px solid #ddd;padding: 8px;line-height: 1.42857143;text-align:left;}
.table-bordered >tbody>tr>td{padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #ddd;}
.content-menu{background-color:#f0f3f6;}

.user-list .card-title-block , .user-list .title{width:100%;}
.user-list a.add-link{float: right;font-size: 18px;color: #4f5f6f;text-decoration: none;}
.card-title-block{padding-bottom: 0;margin-bottom: 20px;}
.card-title-block h3{font-size:18px !important;color: #4f5f6f;margin:0;}

.user-details p{margin:0;}
.user-details label{font-weight:bold;display:inline-block;width: 100px;text-align: right;margin-right: 10px;font-size: 14px;}



