body{padding:0;margin:0;font-family:roboto-regular}
.mr-5{margin-right:5px !important;}
.mr-25{margin-right:25px;}
@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/roboto-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-medium';
    src: url('../fonts/roboto-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.ttf') format('truetype');
}

.m-0{margin:0;}
ul{margin:0;padding:0;}
.p-25{padding:25px;}
.clearfix{clear:both;}
.text-right{text-align:right;}
.error{color:rgb(221,44,0);}
.in_block{display:inline-block;}
.btn-green{background-color:#4bcf99  !important;color:#fff !important;}
.auth {position: absolute;width: 100%;height: 100%;left: 0;background-color: #667380;overflow-x: hidden;overflow-y: auto;}
.auth-container {width: 450px;min-height: 330px;position: absolute;top: 50%;left: 50%;-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);}
.auth-container .auth-content {padding: 30px 60px;min-height: 260px;text-align:center}
.auth-container .auth-header {text-align: center;border-bottom: 1px solid #4bcf99 ;}
.auth-container .auth-title {color: #97A4B1;padding: 20px;line-height: 30px;font-size: 26px;font-weight: 600;margin: 0;}
.card {background-color: #fff;box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);margin-bottom: 10px;border-radius: 0;border:none;}
.custom-btn{min-width: 83px !important;line-height: 33px !important;}
.form-group{margin-bottom:15px;}
.login-form input{width:260px;border:none;font-size: 16px;line-height: 1.5;color: #55595c;border-bottom: 1px solid #d7dde4;padding: 15px 10px 0px 5px;}
.login-form input:focus{ outline:none; }
.login-form .btn {padding: 10px 12px;font-size:20px;border-radius:2px;width:275px;color: #ffffff;background-color: #4bcf99 ;border-color: #4bcf99 ;outline:none;    margin-top: 15px;border-style: none;cursor: pointer;    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);}
.login-form .form-group span.error{display:block;color:#FF4444;text-align:left;font-size:14px;}
.login-form .link{color:#969696;text-decoration:none;}
.login-form .link:hover{color:#33be85}
.logout-link{width:100%; padding: 20px 15px;}
.logout-link a{color: #4f5f6f;text-decoration: none;font-size: 17px;}
/*.main-wrapper{background-color: #f0f3f6;box-shadow: 0 0 3px #ccc;}*/
.card{background-color: #fff;margin:25px;}
md-toolbar{background:#d7dde4;box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.14), 0 0 2px 2px rgba(0, 0, 0, 0.098), 0 0 5px 1px rgba(0, 0, 0, 0.084);}
/*.md-sidenav-backdrop{visibility:hidden !important;}*/
.fl-right{float:right;}
md-sidenav {max-width: 230px !important;background-color:#3a4651 !important;}
.brand{color: #fff;text-align: left;padding-left: 25px;line-height:63px;font-size: 16px;    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    position: relative;}
#menu-button {margin: 0;background: transparent;border: 0;cursor: pointer;display:none;}
#menu-button i.material-icons{font-size:25px;;}
md-sidenav {width: 230px;}
md-sidenav ul{padding-left: 0;margin-bottom: 0;list-style: none;margin-top:0;}
md-sidenav .nav > li > a i {margin-right: 5px;font-size: 16px;}
md-sidenav li a {font-size:16px; padding:15px 10px 15px 20px;  color: rgba(255, 255, 255, 0.5);text-decoration: none;display: block;}
md-sidenav li a:hover{    color: #ffffff;background-color: #2d363f;}
md-sidenav li a.active {background-color: #4bcf99  !important;color: #ffffff !important;}
md-sidenav ul li a i {font-size: 14px;
    margin-right: 5px;vertical-align:text-top}

.md-sidenav-backdrop {visibility:hidden !important;}
table{width:100%;max-width:100%;border-collapse: collapse;border-spacing: 0;width: 100%;display: table;}
.table-bordered{border:1px solid #ddd;}
.table-bordered > thead > tr > th {border: 1px solid #ddd;padding: 8px;line-height: 1.42857143;text-align:left;color: #4f5f6f;}
.table-bordered >tbody>tr>td{padding: 8px;line-height: 1.42857143;vertical-align: top;border: 1px solid #ddd;}
.content-menu{background-color:#f0f3f6;}


md-input{font-size:16px;}
.user-list .card-title-block , .user-list .title{width:100%;}
.user-list .card-title-block button{font-size:17px;}
.card-title-block{padding-bottom: 0;margin-bottom: 25px;padding: 15px 0px;border-bottom:1px solid #d7dde4}
.card-title-block h3{font-size:18px !important;color: #4f5f6f;margin:0;}

.user-details p{margin:0;}
.user-details label{font-family:roboto-medium;display:inline-block;width: 100px;text-align: right;margin-right: 10px;font-size: 16px;color: #4f5f6f;}
.user-edit .form-group label , .project-edit .form-group label{color: #4f5f6f;margin-right:4px;font-family:roboto-medium;}
.user-edit .lb-label , .project-edit .lb-label{font-size:16px;}
.user-edit .btn-green{text-transform:uppercase;font-family:roboto-medium}
.btn-back{font-size:17px;padding:1px 8px;  line-height:34px !important;}
i.material-icons{    vertical-align: middle;
    margin-right: 3px;
    margin-top: -3px;
    font-size: 19px;
}

.md-checkbox-checked .md-checkbox-background {
    background-color: #4bcf99 !important;
}

.md-checkbox-focused .md-ink-ripple{
    background-color:rgba(75,207,153,0.26) !important;
}
#chckbox .md-checkbox-inner-container{margin:0 auto;}
.consumer-app{overflow:hidden;}
.consumer-app .card-title-block , .user-list .card-title-block , .project-list .card-title-block , .project-edit .card-title-block{display: flex;align-items: flex-end;}
.consumer-app .card-title-block .btn-green{font-size:17px;padding: 1px 8px;}
.consumer-app .items, .user-list .items , .project-list .items , .project-edit .items{flex-grow:1;}
.consumer-app .fl-right{text-align:right}
.consumer-app  li{    background-color: #f0f3f6;box-shadow: 0 0 3px #ccc;padding: 15px;text-transform: capitalize;display: inline-block;float: left;cursor: pointer;min-width: 284px;margin:0px 20px 20px 0px;list-style-type:none}
.consumer-edit .form-group , .consumer-add .form-group , .change-password .form-group, .user-edit .form-group , .project-edit .form-group{margin:20px 0;}
.consumer-edit  button , .consumer-add button , .form-group button{text-transform:uppercase;font-family:roboto-medium;} 
.consumer-edit button:hover , .change-password button:hover{    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);} 
.consumer-edit #group-btn > button , .consumer-add #group-btn > button,.change-password #group-btn > button  {margin-right:15px;}
.d-flex{display:flex;flex-direction:row;}
.full-width{width:100%;}
.half-width{width:50%;}

.project-list table td{width:10%;}
.project-list table td:last-child{width:18%;}
/*[layout=column] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
[layout] {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}*/

@media only screen and (max-width:768px){
    #menu-button{display:inline-block;visibility:visible;}
    .sm-side-menu{display:none;}
    .table-sm{overflow-x:auto;width:100%;overflow-y:hidden; border: 1px solid #ddd}
}
@media only screen and (min-width:992px){

    .hidden-lg{display:none;visibility:hidden;}
}

