<div class="change-password">
    <div class="card-title-block">
    <div class="title in_block items">
        <h3>Change Password</h3>
    </div>
</div>


<div class="form-group">
    <div class="half-width">
        <md-input type="password" class="full-width" placeholder="Password" name="OldPassword" [(ngModel)]="passwordModel.OldPassword"
                  (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required></md-input>
        <div [hidden]="!(OldPassword.touched && !OldPassword.valid && OldPassword.errors.required)" class="error">OldPassword is required</div>
        <!--<div *ngIf="OldPassword.touched && !OldPassword.valid && OldPassword.errors.required" style="color:red">
            Required!!
        </div>-->
    </div>
</div>

<div class="form-group">
    <div class="half-width">
        <md-input type="password" class="full-width" placeholder="New password" name="NewPassword" [(ngModel)]="passwordModel.NewPassword"
               (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required ></md-input>
        <div [hidden]="!(NewPassword.touched && !NewPassword.valid && NewPassword.errors.required)" class="error">NewPassword is required</div>
    </div>
</div>
<!--<div *ngIf="NewPassword.touched && !NewPassword.valid && NewPassword.errors.required" style="color:red">
    Required!!
</div>
<div *ngIf="isSame" style="color:red">
    New password is same as old password. <br/>
    Please try a different password.
</div>-->

<div class="form-group">
    <div class="half-width">

        <md-input type="password" class="full-width" placeholder="Confirm password" name="ConfirmPassword" [(ngModel)]="passwordModel.ConfirmPassword"
               (blur)="matchPassword(passwordModel.ConfirmPassword, passwordModel.NewPassword)" required ></md-input>
        <div [hidden]="!(ConfirmPassword.touched && !ConfirmPassword.valid && ConfirmPassword.errors.required)" class="error">ConfirmPassword is required</div>
        <!--<div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid && ConfirmPassword.errors.required && !isNotMatch" style="color:red">
            Required!!
        </div>
        <div *ngIf="isNotMatch" style="color:red">
            Passwords do not match!
        </div>-->
    </div>
</div>


<div class="form-group" id="group-btn">

    <button md-raised-button class="btn-green" type="submit" (click)="changePassword(passwordModel)">Change</button>
    <button md-raised-button type="submit" (click)="goBack()">Cancel</button>
</div>


</div>
