<center>
    <h2><u>Change Password</u></h2>

    <form #PasswordChangeForm="ngForm">
        <table>
            <tr>
                <td>
                    <b>Email: </b>
                </td>
                <td>
                    <input type="email" #Email="ngForm" ngControl="Email" [(ngModel)]="passwordModel.Email" required/>
                    <div *ngIf="Email.touched && !Email.valid && Email.errors.required" style="color:red">
                        Required!!
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Current Password: </b>
                </td>
                <td>
                    <input type="password" #OldPassword="ngForm" ngControl="OldPassword" [(ngModel)]="passwordModel.OldPassword" required/>
                    <div *ngIf="OldPassword.touched && !OldPassword.valid && OldPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>New Password: </b>
                </td>
                <td>
                    <input type="password" #NewPassword="ngForm" ngControl="NewPassword" [(ngModel)]="passwordModel.NewPassword" required/>
                    <div *ngIf="NewPassword.touched && !NewPassword.valid && NewPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Confirm Password: </b>
                </td>
                <td>
                    <input type="password" #ConfirmPassword="ngForm" ngControl="ConfirmPassword" [(ngModel)]="passwordModel.ConfirmPassword" required/>
                    <div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid && ConfirmPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                </td>
            </tr>
        </table>

        <div>
            <br />
            <button type="submit" (click)="changePassword(passwordModel)" [disabled]="!PasswordChangeForm.valid">Change</button>
            <button type="submit" (click)="goBack()">Cancel</button>
        </div>
    </form>
</center>