<center>
    <h2><u>Change Password</u></h2>

    <form>
        <table>
            <tr>
                <td>
                    <b>Current Password: </b>
                </td>
                <td>
                    <input type="password" name="OldPassword" [(ngModel)]="passwordModel.OldPassword" 
                           (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required/>
                    <!--<div *ngIf="OldPassword.touched && !OldPassword.valid && OldPassword.errors.required" style="color:red">
                        Required!!
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>
                    <b>New Password: </b>
                </td>
                <td>
                    <input type="password" name="NewPassword" [(ngModel)]="passwordModel.NewPassword" 
                           (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required/>
                    <!--<div *ngIf="NewPassword.touched && !NewPassword.valid && NewPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                    <div *ngIf="isSame" style="color:red">
                        New password is same as old password. <br/>
                        Please try a different password.
                    </div>-->
                </td>
            </tr>
            <tr>
                <td>
                    <b>Confirm Password: </b>
                </td>
                <td>
                    <input type="password" name="ConfirmPassword" [(ngModel)]="passwordModel.ConfirmPassword" 
                           (blur)="matchPassword(passwordModel.ConfirmPassword, passwordModel.NewPassword)" required/>
                    <!--<div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid && ConfirmPassword.errors.required && !isNotMatch" style="color:red">
                        Required!!
                    </div>
                    <div *ngIf="isNotMatch" style="color:red">
                        Passwords do not match!
                    </div>-->
                </td>
            </tr>
        </table>
        <div>
            <br />
            <button type="submit" (click)="changePassword(passwordModel)" >Change</button>
            <button type="submit" (click)="goBack()">Cancel</button>
        </div>
    </form>
</center>

<!--<center>
    <h2><u>Change Password</u></h2>
    <form #PasswordChangeForm="ngForm">
        <table>
            <tr>
                <td>
                    <b>Current Password: </b>
                </td>
                <td>
                    <input type="password" #OldPassword="ngForm" ngControl="OldPassword" [(ngModel)]="passwordModel.OldPassword"
                           (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required />
                    <div *ngIf="OldPassword.touched && !OldPassword.valid && OldPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>New Password: </b>
                </td>
                <td>
                    <input type="password" #NewPassword="ngForm" ngControl="NewPassword" [(ngModel)]="passwordModel.NewPassword"
                           (blur)="newPasswordIsSame(passwordModel.NewPassword, passwordModel.OldPassword, passwordModel.ConfirmPassword)" required />
                    <div *ngIf="NewPassword.touched && !NewPassword.valid && NewPassword.errors.required" style="color:red">
                        Required!!
                    </div>
                    <div *ngIf="isSame" style="color:red">
                        New password is same as old password. <br />
                        Please try a different password.
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Confirm Password: </b>
                </td>
                <td>
                    <input type="password" #ConfirmPassword="ngForm" ngControl="ConfirmPassword" [(ngModel)]="passwordModel.ConfirmPassword"
                           (blur)="matchPassword(passwordModel.ConfirmPassword, passwordModel.NewPassword)" required />
                    <div *ngIf="ConfirmPassword.touched && !ConfirmPassword.valid && ConfirmPassword.errors.required && !isNotMatch" style="color:red">
                        Required!!
                    </div>
                    <div *ngIf="isNotMatch" style="color:red">
                        Passwords do not match!
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <br />
            <button type="submit" (click)="changePassword(passwordModel)" [disabled]="!PasswordChangeForm.valid || isNotMatch || isSame">Change</button>
            <button type="submit" (click)="goBack()">Cancel</button>
        </div>
    </form>
</center>-->