
<div class="card-title-block">
    <div class="title in_block">
        <h3>Register User</h3>
    </div>
    <div class="fl-right">
        <md-button type="submit" class="btn-back" (click)="goBack()"> <i class="material-icons">arrow_back</i>Back</md-button>
    </div>
</div>
    <form>

        <div class="form-group">
            <md-input placeholder="First Name"  class="full-width" type="text" name="FirstName" [(ngModel)]="userModel.FirstName" maxlength="255" required #FirstName="ngModel"></md-input>
            <div [hidden]="!(FirstName.touched && !FirstName.valid && FirstName.errors.required)" class="error">First Name is required</div>
        </div>
        <div class="form-group">
            <md-input placeholder="Last Name" type="text" name="LastName" [(ngModel)]="userModel.LastName" maxlength="255" required #LastName="ngModel"></md-input>
            <div [hidden]="!(LastName.touched && !LastName.valid && LastName.errors.required)" class="error">Last Name is required</div>
        </div>

        <div class="form-group">
            <md-input type="email"  placeholder="email" name="Email" [(ngModel)]="userModel.Email"
                   (blur)="checkEmail(userModel.Email)" required  #email="ngModel"></md-input>
            @promactinfo.com
            <div [hidden]="!(email.touched && !email.valid && email.errors.required)" class="error">Email is required</div>
        </div>
        <div class="form-group">
            <md-input placeholder="SlackUserName" type="text" name="SlackUserName" [(ngModel)]="userModel.SlackUserName" maxlength="255" required #SlackUserName="ngModel"  (blur)="checkSlackUserName(userModel.SlackUserName)"></md-input>
            <div [hidden]="!(SlackUserName.touched && !SlackUserName.valid && SlackUserName.errors.required)" class="error">Slack User Name is required</div>
        </div>
        <div class="form-group">
            <input type="date" name="JoiningDate" [(ngModel)]="userModel.JoiningDate" placeholder="Enter joining date" required #JoiningDate="ngModel"/>
            <div [hidden]="!(JoiningDate.touched && !JoiningDate.valid && JoiningDate.errors.required)" class="error">Joining Date is required</div>
        </div>
        <div>
            <button md-raised-button class="btn-green" type="submit" (click)="addUser(userModel)">Add</button>
        </div>
</form>


</div>
<!--<form novalidate #UserAddForm="ngForm">
    <table>
        <tr>
            <td>
                <b>First Name: </b>
            </td>
            <td>
                <input type="text" #FirstName="ngForm" ngControl="FirstName" [(ngModel)]="userModel.FirstName" required />
                <div *ngIf="FirstName.touched && !FirstName.valid && FirstName.errors.required" style="color:red">
                    Required!
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>Last Name:</b>
            </td>
            <td>
                <input type="text" #LastName="ngForm" ngControl="LastName" [(ngModel)]="userModel.LastName" required />
                <div *ngIf="LastName.touched && !LastName.valid && LastName.errors.required" style="color:red">
                    Required!
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <b>Email: </b>
            </td>
            <td>
                <input type="email" #Email="ngForm" ngControl="Email" [(ngModel)]="userModel.Email"
                       (blur)="checkEmail(userModel.Email)" required>
                @promactinfo.com

                <div *ngIf="Email.touched && !Email.valid && !isEmailExist" style="color:red">
                    Required!
                </div>
                <div *ngIf="isEmailExist" style="color:red">
                    This email already exist!
                </div>
            </td>
        </tr>
    </table>
    <div>
        <br />
        <button type="submit" (click)="addUser(userModel)" [disabled]="!UserAddForm.valid || isEmailExist">Add</button>
        <button type="submit" (click)="goBack()">Back</button>
    </div>
</form>-->
