<div class="project-list">
    <div class="card-title-block d-flex">
        <div class="title items">
            <h3>Projects</h3>
        </div>
        <div class="items text-right">
            <button md-raised-button routerLink="/project/add" class="add-link btn-green" *ngIf="admin==true"><i class="material-icons">add</i>Add Project</button>
        </div>
    </div>

    <div class="table-sm">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Slack Channel Name</th>
                    <th>Is Active</th>
                    <th>TeamLeader Name</th>
                    <th *ngIf="admin==true">Created By</th>
                    <th *ngIf="admin==true">Created Date</th>
                    <th *ngIf="admin==true">Updated By</th>
                    <th *ngIf="admin==true">Updated Date</th>
                    <th *ngIf="admin==true">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pro of pros">
                    <td>{{pro.name}}</td>
                    <td>{{pro.slackChannelName}}</td>
                    <td *ngIf="pro.isActive">Active</td>
                    <td *ngIf="!pro.isActive">Inactive</td>
                    <td>{{pro.teamLeader.FirstName}}</td>
                    <td *ngIf="admin==true">{{pro.createdBy}}</td>
                    <td *ngIf="admin==true">{{pro.createdDate}}</td>
                    <td *ngIf="admin==true">{{pro.updatedBy}}</td>
                    <td *ngIf="admin==true">{{pro.updatedDate}}</td>
                    <td *ngIf="admin==true">
                        <button md-raised-button class="btn-green custom-btn mr-5" (click)="editProject(pro.id)">Edit</button>
                        <button md-raised-button class="custom-btn" (click)="viewProject(pro.id)">View</button>
                    </td>

                </tr>
            </tbody>
        </table>

        </div>
    </div>