<h1>{{title}}</h1>
<h2>My Project</h2>
<a routerLink="add" routerLinkActive="active">Project Add</a>
<ul class="pros">
    <li *ngFor="let pro of pros"
        [class.selected]="pro === selectedPro"
        (click)="onSelect(pro)">
        
        {{pro.name}}
        <button class="delete-button" (click)="deleteProject(pro.id)">Delete</button>
    </li>
</ul>
<!--<input [(ngModel)]="projectToAdd"/>
<button (click)="addProject(projectToAdd)">Add New Project</button>-->
<!--<input [(ngModel)]="pro.id" />-->
<!--Name :<input [(ngModel)]="pro.name" />
Description :<input [(ngModel)]="pro.description" />
CallbackUrl :<input [(ngModel)]="pro.callbackUrl" />
<button (click)="addProject(pro)">Add New Project</button>
<div *ngIf="addingProject">
    <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>
<my-pro-detail [pro]="selectedPro"></my-pro-detail>-->