<div class="user-edit">
    <div class="card-title-block">
        <div class="title in_block">
            <h3>User Edit</h3>
        </div>
        </div>

            <!--<form novalidate #UserEditForm="ngForm">



                <div class="form-group">
                    <input type="text"  name="FirstName" class="demo-full-width" placeholder="First name" #FirstName="ngForm" ngControl="FirstName" [(ngModel)]="user.FirstName" required/>
                    <p *ngIf="FirstName.touched && !FirstName.valid && FirstName.errors.required" style="color:red">
                        Required!
                    </p>
                </div>


                <div class="form-group">
                    <input type="text" name="LastName" #LastName="ngForm" ngControl="LastName" [(ngModel)]="user.LastName" required/>
                    <p *ngIf="LastName.touched && !LastName.valid && LastName.errors.required" style="color:red">
                        Required!
                    </p>
                </div>




                <div class="form-group">{{user.Email}}</div>

                <b>Status: </b>

                <input type="checkbox" [(ngModel)]="user.IsActive" />

                <div>
                    <br />
                    <button md-raised-button type="submit" (click)="editUser(user)" [disabled]="!UserEditForm.valid || isEmailExist">Update</button>
                    <button md-raised-button type="submit" (click)="goBack()">Back</button>
                </div>
            </form>-->

        </div>
        <!--<center>
            <h1>{{title}}</h1>
            <h2>User Edit</h2>

            <form>
                <div>
                    <label>First Name:</label>
                    <input type="text" name="FirstName" [(ngModel)]="user.firstName"/>
                </div>
                <div><br /></div>
                <div>
                    <label>Last Name:</label>
                    <input type="text" name="LastName" [(ngModel)]="user.lastName"/>
                </div>
                <div><br /></div>
                <div>
                    <label>Email:</label>
                    <input type="email" name="Email" [(ngModel)]="user.email"/>
                </div>
                <div><br /></div>
                <div>
                    <label>Status:</label>
                    <select [(ngModel)]="user.isActive">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
                <div>
                    <br/>
                    <button type="submit" (click)="editUser(user)">Update</button>
                </div>
            </form>

        </center>-->



