
<div class="main-wrapper">
    <md-sidenav-layout class="demo-sidenav-layout">
        <md-sidenav #start mode="side" opened="true" class="sm-side-menu">
            <div class="brand">Promact Oauth</div>
            <ul>
                <li>
                    <a routerLink="user" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i>Users</a>
                </li>
                <li>
                    <a routerLink="project" routerLinkActive="active"><i class="fa fa-file-text" aria-hidden="true"></i>Projects</a>
                </li>
                <li>
                    <a routerLink="consumerapp" routerLinkActive="active" *ngIf="admin==true">Consumer App</a>
                </li>
                <li>
                    <a routerLink="changepassword" routerLinkActive="active">Change Password</a>
                </li>
            </ul>
        </md-sidenav>
        <div class="demo-sidenav-content">
            <md-toolbar>
                <div class="logout-link">
                    <button id="menu-button" (click)="start.toggle()"><i class="material-icons">menu</i></button>
                    <a href="/LogOff" class="fl-right">LOGOUT</a>
                </div>
            </md-toolbar>
            <div class="p-25">
                <router-outlet></router-outlet>
            </div>
        </div>
    </md-sidenav-layout>
    
    <div *ngIf="loader.loader">
        <div class="overlay">
        </div>
        <div class="loader">
            <svg width="1em" height="1em"><circle cx="0.5em" cy="0.5em" r="0.45em" /></svg>
        </div>
    </div>
</div>