<h1>{{title}}</h1>
<h2>My Project</h2>
<ul class="pros">
    <li *ngFor="let pro of pros"
        [class.selected]="pro === selectedPro"
        (click)="onSelect(pro)">
        <span class="badge">{{pro.id}}</span> {{pro.name}}{{pro.description}}
        <button class="delete-button" (click)="deleteProject(pro.id)">Delete</button>
    </li>
</ul>

Name :<input [(ngModel)]="pro.name" />
Description :<input [(ngModel)]="pro.description" />
CallbackUrl :<input [(ngModel)]="pro.callbackUrl" />
<button (click)="addProject(pro)">Add New Project</button>

<div *ngIf="addingProject">
    <my-hero-detail (close)="close($event)"></my-hero-detail>
</div>
<my-pro-detail [pro]="selectedPro"></my-pro-detail>