@{
    Layout = null;
}

<html>
<head>
    <base href="/">
    <title>Home Page</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/app-seagreen.css" rel="stylesheet" />

    <link href="~/css/angular-material.css" rel="stylesheet" />
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/shim.min.js"></script>
    <script src="lib/zone.js"></script>
    <script src="lib/Reflect.js"></script>
    <script src="lib/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="~/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
    @*<script src="./bundle.min.js"></script>*@
</head>
<!-- 3. Display the application -->
<body>
    <my-app>
    loading....
    
   </my-app>
</body>
</html>
