@{
    Layout = null;
}
<html>
<head>
    <base href="/">
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/app-seagreen.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://file.myfontastic.com/kEAHyvNaNwAyb2gXCKvLFk/icons.css" rel="stylesheet">
    <script>
        var user = @Html.Raw(Json.Serialize(@ViewData["UserRole"]));
    </script>
</head>
<!-- 3. Display the application -->
<body>
    <my-app>
        <div class="loader">
            <svg width="1em" height="1em"><circle cx="0.5em" cy="0.5em" r="0.45em" /></svg>
        </div>
    </my-app>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.5/zone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.10/Reflect.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.20.12/system.js"></script>
    </environment>
    <environment names="Development">
        <!-- 1. Load libraries -->
        <!-- Polyfill(s) for older browsers -->
        <script src="~/lib/shim.min.js"></script>
        <script src="~/lib/zone.js"></script>
        <script src="~/lib/Reflect.js"></script>
        <script src="~/lib/system.src.js"></script>
    </environment>
    <!-- 2. Configure SystemJS -->
    <script src="~/app/build.js"></script>
</body>
</html>

