<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/app-seagreen.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body class="reset-body">
    <div class="reset-container">
        <div class="reset-content">
            @{
                ViewData["Title"] = "Reset password confirmation";
            }

            <h1>@ViewData["Title"].</h1>
            <p>
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here </a>to log in.
            </p>
        </div>
    </div>
</body>