@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="auth">
    <div class="auth-container" id="fp-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    Promact Oauth
                </h1>
            </header>
            <div class= "rp-content login-form">
                @*<h2>@ViewData["Title"].</h2>*@
                <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
                    @*<h4>Reset your password.</h4>*@
                    @*<hr />*@
                    <input asp-for="Code" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    @if (@ViewData["Error"] != null)
                    {
                        <span asp-validation-for="Email" class="text-danger">@ViewData["Error"]</span>
                    }
                    <div class="form-group">
                        @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
                        <div class="col-md-10 text-center">
                            <input asp-for="Email" placeholder="Email" class="form-control" disabled />
                          
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="Password" class="col-md-2 control-label"></label>*@
                        <div class="col-md-10 text-center">
                            <input asp-for="Password" placeholder="Password" class="form-control" />               
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>*@
                        <div class="col-md-10 text-center">
                            <input asp-for="ConfirmPassword"  placeholder="Confirm Password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <button type="submit" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </form>
                </div>

            </div>
        </div>
</div>
                
                 @section Scripts {
                    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                }
