

<center>
    <form novalidate #addProjectform="ngForm">
        <div *ngIf="pro">
            <h3>Edit Project</h3>
            <br />
            <table>
               <tr>
                    <td>
                        Name:
                    </td>
                    <td>
                        <input type="text" #Name="ngForm" ngControl="Name" [(ngModel)]="pro.name" required />
                        <div *ngIf="Name.touched && !Name.valid && Name.errors.required" style="color:red">Project Name is required</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Slack Channel Name:
                    </td>
                    <td>
                        <input type="text" #SlackChannelName="ngForm" [(ngModel)]="pro.slackChannelName" required />
                        <div *ngIf="SlackChannelName.touched && !SlackChannelName.valid && SlackChannelName.errors.required" style="color:red">Project SlackChannel is required</div>
                    </td>
                </tr>
                <tr>

                    <td>
                        IsActive:
                    </td>
                    <td>
                        <input type="checkbox" name="IsActive" [(ngModel)]="pro.isActive">
                    </td>
                </tr>
                <tr>
                    <td>
                        TeamLeader:
                    </td>
                    <td>
                        <select name="sel3" [(ngModel)]="pro.teamLeaderId">
                            <option value={{i.Id}} *ngFor="let i of pro.listUsers">{{i.FirstName}}-{{i.Email}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        List Of Users:
                    </td>
                    <td>
                        <md2-multiselect *ngIf="pro.applicationUsers && pro.listUsers" [items]="pro.listUsers"
                                         [item-text]="'UniqueName'"
                                         [(ngModel)]="pro.applicationUsers"
                                         placeholder="Placeholder Text">
                        </md2-multiselect>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button (click)="editProject(pro)" [disabled]="!(Name.valid && SlackChannelName.valid)">Update</button>
                    </td>
                    <td>
                        <button (click)="gotoProjects()">Back</button>
                    </td>
                </tr>
            </table>
            <p>

            </p>
        </div>
        </form>
</center>


