<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="width:500px;height:300px;margin:0 auto;">
        <table align="center" style="border:1px solid #ccc;width:450px;border-spacing:0px;">
            <tr style=" background-color:#428bca;height:35px;">
                <td></td>
            </tr>
            <tr>
                <td>
                    <table style="padding:5px 5px 5px 5px;">
                        <tr>
                            <td style="font-weight:bold">Hello ${{Username}}$</td>
                        </tr>
                        <tr>
                            <td>
                                If you forgot your password and would like to reset it, please click the link below. 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                Click on the following link to reset your password.
                                <br />
                                <a href="${{RestPassWordLink}}$">Click here</a>

                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                <br />
                                Thank you,
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br />
                                Promact Oauth Server Support
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
