<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="width:100%;height:400px;margin:0 auto;">
        <table align="center" style="border:1px solid #ccc;width:500px;border-spacing:0px;">
            <tr style="background-color:#428bca;height:35px;">
                <td></td>
            </tr>
            <tr>
                <td>
                    <table style="padding:5px 5px 5px 5px;">
                        <tr>
                            <td style="font-weight:bold">Hello ${{Username}}$,</td>                          
                        </tr>
                        <tr>
                            <td>
                                <br />
                                Welcome to Promact Infotech Private Limited.
                                <br />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Email: ${{Email}}$
                            </td>


                        </tr>
                        <tr>
                            <td>
                                Password: ${{Password}}$
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                <br />
                                Thank you,
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Promact Oauth Server Support
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>
