<div class="user-details">
    <div class="card-title-block">
        <div class="title in_block">
            <h3>User Details</h3>
        </div>
        <div class="fl-right">
            <md-button type="submit" class="btn-back" (click)="goBack()"> <i class="material-icons">arrow_back</i>Back</md-button>
        </div>
    </div>

    <div class="form-group">
        <label>First Name: </label>
        <p class="in_block">{{user.FirstName}}</p>
    </div>

    <div class="form-group">
        <label>Last Name:</label>
        <p class="in_block">{{user.LastName}}</p>
    </div>

    <div class="form-group">
        <label>Email: </label>
        <p class="in_block">{{user.Email}}</p>
    </div>

    <div class="form-group">
        <label>Status</label>

        <p class="in_block" *ngIf="user.IsActive">Active</p>
        <p class="in_block" *ngIf="!user.IsActive">
            Inactive
        </p>
    </div>



</div>


<!--<center>
    <h1>{{title}}</h1>
    <h2>Users Details</h2>

    <div>
        <label>First Name: </label>
        {{user.firstName}}
    </div>
    <div>
        <label>Last Name: </label>
        {{user.lastName}}
    </div>
    <div>
        <label>Email: </label>
        {{user.email}}
    </div>
    <div>
        <label>Status: </label>
        {{user.isActive}}
    </div>
</center>-->
