<section class="user-list">
    <div class="card-title-block d-flex">
        <div class="title items">
            <h3 class="in_block">Users</h3>
        </div>
        <div class="items text-right">
            <button md-raised-button routerLink="/user/add" routerLinkActive="active" class="add-link btn-green"><i class="material-icons">add</i>Add User</button>
        </div>
    </div>

    <table class="able-bordered table-user"[mfData]="users" #mf="mfDataTable">
        <thead>
            <tr>
                <th>
                    <mfDefaultSorter by="first name">First Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="last name">Last Name</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="numberOfCl">Number Of CL</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="numberOfSl">Number Of SL</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="date of joining">Date Of Joining</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.FirstName}}</td>
                <td>{{user.LastName}}</td>
                <td>{{user.Email}}</td>
                <td *ngIf="user.IsActive">Active</td>
                <td *ngIf="!user.IsActive">Inactive</td>
                <td>{{user.SlackUserName}}</td>
                <td>{{user.NumberOfCasualLeave}}</td>
                <td>{{user.NumberOfSickLeave}}</td>
                <td>{{user.JoiningDate |date:"dd/MM/yyyy"}}</td>
                <td>
                    <button md-raised-button class="btn-green custom-btn mr-5" (click)="userDetails(user.Id)">Details</button>
                    <button md-raised-button class="custom-btn" (click)="userEdit(user.Id)">Edit</button>
                    <button md-raised-button class="btn-green custom-btn mr-5" (click)="reSendMail(user)">ReSendMail</button>
                </td>
            </tr>
        </tbody>
    </table>-->
</section>